@import url(http://fonts.googleapis.com/css?family=Bangers);
@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

@font-face {
  font-family: 'babib';
  src: url('../font/BABIE___.TTF');
}

.logo{
  font-family: 'ad';
}

body{
  font-family: 'lato', 'babib', 'Bangers', cursive;
  font-size: 120%; 
}
